/********************************************************************/
/***************************Setting colors***************************/
/********************************************************************/

// Primary
$Orange: hsl(26, 100%, 55%); //orange texte, buttons, borders
$OrangeHover: hsl(26, 100%, 71%); // orange hover
$Paleorange: hsl(25, 100%, 94%); //background 50%

// Neutral
$Verydarkblue: hsl(220, 13%, 13%); //title
$Darkgrayishblue: hsl(219, 9%, 45%); //nav and standard text
$Bordergrayishblue: hsl(219, 35%, 92%); //nav bottom border
$Grayishblue: hsl(220, 14%, 75%); // old price
$Lightgrayishblue: hsl(223, 64%, 98%); //input
$White: hsl(0, 0%, 100%); //background & popup background
$Black: hsl(0, 0%, 0%); //(with 75% opacity for lightbox background)
