/**********************************************************************/
/*header*/
/**********************************************************************/
header {
  width: 74%;
  height: 85px;
  border-bottom: solid 1px $Bordergrayishblue;
  margin: 20px auto 65px auto;

  /********************Media********************/
  @media screen and (max-width: 870px) {
    height: 60px;
    border: none;
    margin: 20px auto 15px auto;
    width: 90%;
  }
  /*********************************************/

  .nav-container {
    position: relative;
    @include row;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    z-index: 0;

    .nav-wrapper {
      @include row;
      padding: 40px 0 20px 0;
      gap: 32px;

      /********************Media********************/
      @media screen and (max-width: 980px) {
        gap: 15px;
      }
      @media screen and (max-width: 870px) {
        gap: 10px;
        font-size: 14px;
        display: block;
        padding-bottom: 60px;
      }
      /*********************************************/

      svg {
        margin-right: 20px;

        /********************Media********************/
        @media screen and (max-width: 870px) {
          margin-left: 35px;
        }
      }
      /*********************************************/

      p {
        height: 65px;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
          color: black;
          border-bottom: solid 5px $Orange;
        }
        /********************Media********************/
        @media screen and (max-width: 870px) {
          display: none;
        }
        /*********************************************/
      }
    }

    .customer-wrapper {
      @include row;
      height: 125px;
      gap: 46px;

      /********************Media********************/

      @media screen and (max-width: 870px) {
        gap: 20px;
        font-size: 14px;
      }
      /*********************************************/

      .price-popup {
        padding-top: 40px;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
        &:hover path {
          fill: $Verydarkblue;
        }
        /********************to intercat is JS ********************/
        .popup-number {
          display: none;
          position: absolute;
          z-index: 1;
          width: 19px;
          height: 13px;
          background-color: $Orange;
          border-radius: 10px;
          transform: translate(9px, -6px);
        }
        /********************activate the popup number with JS ********************/
        .active {
          @include center;
        }
      }

      img {
        width: 50px;
        height: 50px;
        margin-top: 21px;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 8px 10px -5px rgba(29, 32, 38, 0.5);

        &:hover {
          border: solid 2px $Orange;
        }

        /********************Media********************/
        @media screen and (max-width: 450px) {
          width: 24px;
          height: 24px;
          margin-top: 37px;
        }
        /*********************************************/
      }
    }
  }
  /********************Popup container to intercat is JS ********************/
  .popup-container {
    display: none;
    position: absolute;
    width: 360px;
    height: 256px;
    background-color: $White;
    transform: translatex(52%);
    left: 52%;
    bottom: 54%;
    z-index: 4;
    border-radius: 10px;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);

    /********************Media********************/
    @media screen and (max-width: 1150px) {
      transform: translatex(40%);
      left: 40%;
    }
    @media screen and (max-width: 870px) {
      width: 95%;
      top: 25%;
      transform: translatex(0%);
      left: 0%;
      margin-left: 2.5%;
    }
    /*********************************************/

    .cart-title {
      padding: 24px 0 0 24px;
      height: 67px;
      border-bottom: solid 1px $Bordergrayishblue;
    }
    .empty-card {
      display: block;
      margin-top: 50px;
      text-align: center;
    }

    .order-wrapper {
      display: none;
      justify-content: space-around;
      padding: 28px 20px 28px 20px;
      margin: 0 auto;
      align-items: center;

      .order-picture {
        width: 50px;
        height: 50px;
      }

      svg {
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
        &:hover path {
          fill: $Verydarkblue;
        }
      }
    }
    .checkout {
      @include center;
      display: none;
      width: 312px;
      height: 56px;
      margin: 0 auto;
    }
  }
  /********************to activate popup cart with JS ********************/

  //display popup cart
  .active {
    display: block;
  }

  //display orders in popup cart
  .orderactive {
    .empty-card {
      display: none;
    }
    .order-wrapper {
      @include row;
    }
    .checkout {
      display: block;
    }
  }

  /*************Nav popup for interact with JS (mobile)********************/
  //nav popup logo
  .nav-mobile-popup {
    display: none;
    position: absolute;
    padding-top: 24px;
    z-index: 6;

    .nav-mobile-icone {
      transition: 0.2s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
      &:hover path {
        fill: $Verydarkblue;
      }
    }
    /********************Media********************/
    @media screen and (max-width: 870px) {
      display: block;
    }
    /*********************************************/

    .nav-mobile-container {
      opacity: 0;
      position: absolute;
      z-index: 6;
      width: 300px;
      height: 900px;
      background-color: $White;
      transform: translatex(-100%);
      top: 10px;
      padding: 25px;
      transition: transform 0.5s ease-in-out;
      overflow: visible;

      svg {
        margin-bottom: 50px;
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
        &:hover path {
          fill: $Verydarkblue;
        }
      }
      .nav-mobile-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: 0.2s ease;
        cursor: pointer;

        p:hover {
          color: $Darkgrayishblue;
        }
      }
    }
    /*************interact with JS for activate the nav Popup (mobile)********************/
    .active {
      opacity: 1;
      transform: translatex(-26px);
    }
  }
}
