.lightbox {
  display: none;
  position: absolute;
  z-index: 6;
  /* display: flex;*/
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 445px;
  height: 565px;

  .close-lightbox {
    position: absolute;
    z-index: 7;
    width: 100%;
    left: 97%;
    top: -5%;

    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;

      path {
        fill: $White;

        &:hover {
          fill: $Orange;
        }
      }
    }
  }

  .images-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .display-picture02 {
      position: relative;
      z-index: 6;
      width: 445px;
      height: 445px;
      border-radius: 15px;
      cursor: pointer;
    }
    .image-flex {
      @include center;
      justify-content: space-between;

      #light1,
      #light2,
      #light3,
      #light4 {
        width: 88px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          filter: opacity(0.5);
        }
      }
      .imgclicked {
        border: solid 2px $Orange;
        filter: opacity(0.5);
      }
    }
  }
}

.mobile-image-switch {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 40px;
  bottom: 58%;

  .previous-container,
  .next-container {
    position: absolute;
    z-index: 8;
    @include center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $White;
    cursor: pointer;
  }
  .next-container {
    left: 84%;
  }
  .previous-container {
    left: 6%;
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0px;
  min-height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}

//activate lightbox and overlay
.activate {
  display: flex;
}
