/**********************************************************************/
/*Main*/
/**********************************************************************/

main {
  width: 74%;
  margin: 0 auto;

  /********************Media********************/
  @media screen and (max-width: 550px) {
    width: 100%;
  }
  /*********************************************/

  .container {
    @include row;
    gap: 125px;
    width: 100%;

    /********************Media********************/
    @media screen and (max-width: 1180px) {
      gap: 30px;
    }
    @media screen and (max-width: 870px) {
      display: block;
    }
    /*********************************************/
    .left-container {
      width: 445px;
      height: 565px;
      position: relative;
      z-index: 0;
      margin: 0 auto;

      /********************Media********************/
      @media screen and (max-width: 870px) {
        height: 445px;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
      }
      @media screen and (max-width: 450px) {
        height: 400px;
      }
      @media screen and (max-width: 400px) {
        height: 300px;
      }
      /*********************************************/

      .mobile-image-switch {
        position: absolute;
        display: none;
        z-index: 1;
        width: 100%;
        height: 40px;
        bottom: 50%;

        /********************Media********************/
        @media screen and (max-width: 870px) {
          display: block;
        }
        /*********************************************/
        .previous-container,
        .next-container {
          position: absolute;
          z-index: 2;
          @include center;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: $White;
          cursor: pointer;
        }
        .next-container {
          left: 84%;
        }
        .previous-container {
          left: 6%;
        }
      }
      .images-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .display-picture {
          width: 445px;
          height: 445px;
          border-radius: 15px;
          cursor: pointer;
          box-shadow: 0px 8px 10px -5px rgba(29, 32, 38, 0.5);

          &:hover {
            filter: opacity(0.5);
          }

          /********************Media********************/
          @media screen and (max-width: 870px) {
            box-shadow: none;
          }
          @media screen and (max-width: 550px) {
            width: 100%;
            height: 445px;
            border-radius: 0px;
          }
          @media screen and (max-width: 450px) {
            height: 400px;
          }
          @media screen and (max-width: 400px) {
            height: 300px;
          }
          /*********************************************/
        }
        .image-flex {
          @include center;
          justify-content: space-between;

          #image-product-1,
          #image-product-2,
          #image-product-3,
          #image-product-4 {
            width: 88px;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 0px 8px 10px -5px rgba(29, 32, 38, 0.5);

            &:hover {
              filter: opacity(0.5);
            }
          }

          /********************Media********************/
          @media screen and (max-width: 870px) {
            display: none;
          }
          /*********************************************/

          .imgclicked {
            border: solid 2px $Orange;
            filter: opacity(0.5);
          }
        }
      }
    }
  }

  .right-container {
    width: 100%;

    /********************Media********************/
    @media screen and (max-width: 870px) {
      width: 90%;
      margin: 0 auto;
    }
    /*********************************************/

    h1 {
      padding-top: 40px;

      /********************Media********************/
      @media screen and (max-width: 870px) {
        padding-top: 20px;
      }
      /*********************************************/
    }

    h2 {
      padding-top: 27px;

      /********************Media********************/
      @media screen and (max-width: 870px) {
        padding-top: 20px;
      }
      /*********************************************/
    }

    .description {
      padding-top: 32px;
      line-height: 26px;

      /********************Media********************/
      @media screen and (max-width: 870px) {
        padding-top: 20px;
      }
      /*********************************************/
    }

    .price-container {
      @include row;
      align-items: center;
      gap: 16px;
      padding-top: 28px;

      /********************Media********************/
      @media screen and (max-width: 870px) {
        padding-top: 15px;
      }
      /*********************************************/

      .percentage {
        @include center;
        width: 51px;
        height: 27px;
        background-color: $Paleorange;
      }
    }
    .old-price {
      padding-top: 10px;
    }
    .order-container {
      @include row;
      gap: 16px;
      padding-top: 32px;

      /********************Media********************/
      @media screen and (max-width: 870px) {
        padding-top: 20px;
        display: block;
        margin: 0 auto;
      }
      /*********************************************/

      .number-wrapper {
        @include row;
        align-items: center;
        justify-content: space-around;
        width: 157px;
        height: 56px;
        border-radius: 10px;
        background-color: $Lightgrayishblue;
        box-shadow: 0px 8px 10px -5px rgba(29, 32, 38, 0.5);

        /********************Media********************/
        @media screen and (max-width: 1180px) {
          width: 120px;
        }
        @media screen and (max-width: 970px) {
          width: 100px;
        }
        @media screen and (max-width: 870px) {
          width: 100%;
          margin-bottom: 16px;
          box-shadow: none;
        }
        /*********************************************/

        svg {
          @include center;
          width: 20px;
          cursor: pointer;
          transition: 0.2s ease;

          path {
            fill: $Orange;
          }

          &:hover path {
            fill: $OrangeHover;
          }
        }
      }
      .add-order {
        @include center;
        gap: 15px;
        width: 272px;
        height: 56px;
        box-shadow: 0px 8px 10px -5px rgba(29, 32, 38, 0.5);

        /********************Media********************/
        @media screen and (max-width: 1180px) {
          width: 200px;
        }
        @media screen and (max-width: 970px) {
          width: 150px;
          gap: 10px;
        }
        @media screen and (max-width: 870px) {
          width: 100%;
        }
        /*********************************************/
      }
    }
  }
}
